<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<p><%= @game.player_1.name %>: 60HP</p>

<p><%= @game.player_2.name %>: 60HP</p>

<p><%= @game.current_turn.name %>'s turn</p>

<p><form action="/attack">
  <input type="submit" value="Attack <%= @game.player_2.name %>">
</form></p>
